body{
    background: #069A8E;
}

.text-center{
    text-align: center;
    margin: 40px 0;
}

.external-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 290px;
    background: #1A3C40;
    /* border: 2px solid black; */
    border-radius: 9%;
    padding-top: 10px;
    padding-bottom: 20px;
    box-shadow: 0 3px 21px 0 #DBEDF3;
}

.c-btn{
    width: 173px;
}

.btn{
    padding: 18px;
    margin: 5px 4px;
    /* border: 2px solid black; */
    border-radius: 9%;
    cursor: pointer;
    font-family: 'IBM Plex Sans', sans-serif;
    box-shadow: 0 3px 4px 0 black;
    font-size: 1.5rem;
}

.input{
    border-radius: 9px;
    border: 2px solid black;
    width: 246px;
    margin: 17px 0;
    padding: 6px 10px;
    box-shadow: 0 3px 4px 0 black;
    height: 61px;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-weight: bold;
}

